.alert-message {
  position: fixed;
  top: 100px;
  right: 10px;
  width: 220px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alert-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-bottom: 15px;
}

.alert-content p {
  font-size: large;
}

button {
  cursor: pointer;
  background-color: #b28d53;
  color: #333;
  font-weight: bold;
  border: none;
  align-items: center;
  width: 75px;
  padding: 8px 15px;
  border-radius: 5px;
}

.alert-content button {
  font-size: large;
  width: 80px;
}