.footer_Component {
    position: fixed;
    bottom: 0;
    min-height: auto;
    padding: 1em 0;
    text-align: center;
    width: 99%;
    color: #c9c9c9;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.footer_Component i {
    float: middle;
    margin: 5px;
    color: #e2c787;
}

.footer_Component hr {
    border-color: #c9c9c9;
}