.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.carousel_img{
    max-width: 100%;
    height: auto;
    width: device-width;
    align-items: center;
}

.carousel {
    margin: 0 auto;
    max-width: 800px;
    width: device-width;
}

.home_Component button {
    cursor: pointer !important;
    background-color: #c9c9c9 !important;
    color: #565d6a;
    border: none !important;
    padding: 0 !important;
    border-radius: 4px !important;
}

.p-carousel-indicators .p-link[tabindex="0"]{
    background-color: #b28d53 !important;
}

.home_Component {
    display: flex;
    flex-direction: column;
    align-items: center;
}