* {
    font-family: 'Segoe UI', Tahoma;
    font-size: medium;
}

body {
    background-color: #333;
    color: #fff;
}

.home_Component {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    position: relative;
}

.carousel_img{
    width: 670px;
    height: auto;
}

.carousel {
    width: 800px;
}

.p-carousel-indicators .p-link[tabindex="0"]{
    background-color: #e2c787;
}