.register-form {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #cac9c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.required {
    color: rgb(168, 27, 27);
    margin-left: 3px;
}

.error-message {
    color: rgb(168, 27, 27);
    margin-top: 10px;
}

.title {
    text-align: center;
    color: #b28d53;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 10px;
    margin-right: 10px; 
}

.submit-button,
.close-button {
    cursor: pointer;
    background-color: #b28d53;
    color: #333;
    font-weight: 700;
    border: none;
    align-items: center;
    width: 75px;
    padding: 8px 15px;
    border-radius: 5px
}

.submit-button:hover,
.close-button:hover {
    background-color: #986f41; 
}

.p-timepicker,
.p-datepicker-calendar,
.p-datepicker-header {
  cursor: pointer;
  background-color: #000; /* Fondo negro */
  color: #b28d53; /* Texto principal dorado */
  font-weight: 700;
  border: 2px solid #000; /* Borde negro */
  align-items: center;
  padding: 12px 20px; /* Aumenta el espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Efecto de hover para resaltar */
.p-timepicker:hover,
.p-datepicker-calendar:hover,
.p-datepicker-header:hover {
  background-color: #333; /* Fondo negro más oscuro al pasar el ratón */
}

/* Estilo del texto del día en el calendario */
.p-datepicker-day {
  color: #b28d53; /* Color del texto del día dorado */
  font-weight: 700;
  transition: color 0.3s ease; /* Transición suave del color del texto */
  background-color: #000; /* Fondo negro */
  border-radius: 50%; /* Borde redondeado para simular el círculo */
  padding: 6px; /* Espaciado interior */
}

/* Efecto de hover para resaltar el texto del día */
.p-datepicker-day:hover {
  color: #fff; /* Texto del día más claro al pasar el ratón */
}

/* Estilo del día seleccionado en el calendario */
.p-datepicker-day.p-highlight {
  background-color: #333; /* Fondo del día seleccionado más oscuro */
  color: #fff; /* Texto del día seleccionado */
}

/* Icono del botón del año y mes en el encabezado del calendario */
.p-datepicker-monthpicker-icon,
.p-datepicker-prev,
.p-datepicker-next {
  color: #000; /* Color del icono negro */
  transition: color 0.3s ease; /* Transición suave del color del icono */
  background-color: #b28d53; /* Fondo dorado */
  border: 2px solid #000; /* Borde negro */
  padding: 6px; /* Espaciado interior */
  border-radius: 8px; /* Bordes redondeados */
}

/* Efecto de hover para resaltar el icono */
.p-datepicker-monthpicker-icon:hover,
.p-datepicker-prev:hover,
.p-datepicker-next:hover {
  background-color: #333; /* Fondo más oscuro al pasar el ratón */
  color: #fff; /* Color del icono más claro al pasar el ratón */
}

/* Días desactivados en el calendario */
.p-datepicker-day.p-disabled {
  color: #666; /* Color del texto de días desactivados */
  cursor: not-allowed; /* Cursor de no permitido */
}

/* Estilo de los días de la semana en el encabezado del calendario */
.p-datepicker-weekday {
  background-color: #000; /* Fondo negro */
  color: #b28d53; /* Color del texto de los días de la semana dorado */
}

/* Efecto de hover para resaltar los días de la semana en el encabezado */
.p-datepicker-weekday:hover {
  color: #fff; /* Color más claro al pasar el ratón */
}