.register-form {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #cac9c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.required {
    color: rgb(168, 27, 27);
    margin-left: 3px;
}

.error-message {
    color: rgb(168, 27, 27);
    margin-top: 10px;
}

.title {
    text-align: center;
    color: #b28d53;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 10px;
    margin-right: 10px; 
}

.submit-button,
.close-button {
    cursor: pointer;
    background-color: #b28d53;
    color: #333;
    font-weight: 700;
    border: none;
    align-items: center;
    width: 75px;
    padding: 8px 15px;
    border-radius: 5px/* Transición suave del color de fondo */
}

.submit-button:hover,
.close-button:hover {
    background-color: #986f41; /* Cambio de color dorado en hover */
}

.p-datepicker-group-container {
    cursor: pointer;
    background-color: #b28d53;
    color: #333;
    font-weight: 700;
    border: none;
    align-items: center;
    width: 75px;
    padding: 8px 15px;
    border-radius: 5px/* Transición suave del color de fondo */   
}