.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

@media screen and (max-height: 960px) {
    #profile footer, #profile header {
        position: static;
    }
}

.user-profile {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.user-info {
    h2 {
        margin: 0;
    }
}

.profile-details {
    margin-top: 20px;

    h3 {
        margin-bottom: 10px;
    }

    table {
        width: 100%;

        tr {
            td {
                padding: 8px;
                border-bottom: 1px solid #282727e7;
            }
        }
    }
}

.extra-info-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .panel-item {
        flex: 1;
        margin-right: 20px;

        h3 {
            margin-bottom: 10px;
        }
    }
}

.golden-text {
    color: #b28d53;
}

.large-text {
    font-size: 36px;
    font-weight: bold;
}

.medium-text {
    font-size: 24px;
    font-weight: bold;
}

.small-text-bold {
    font-size: 18px;
    font-weight: bold;
}

.small-text {
    font-size: 16px;
}

.profile-details-container {
    background-color: #cac9c9;
    border: 1px solid #cac9c9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 1cqmax;
}

.security-number-container,
.vacation-days-container {
    background-color: #cac9c9;
    border: 1px solid #cac9c9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}